<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let country">
            <mat-checkbox [(ngModel)]="checkboxes[country.id]" (ngModelChange)="onSelectedChange(country.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Country Name Column -->
    <ng-container cdkColumnDef="countryName">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>CountryName</mat-header-cell>
        <mat-cell *cdkCellDef="let country">
            <p class="text-truncate">{{country.countryName}}</p>
        </mat-cell>
    </ng-container>

    <!-- isoAlpha3Code Column -->
    <ng-container cdkColumnDef="isoAlpha3Code">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>isoAlpha3Code</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{country.isoAlpha3Code}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- isoNumericCode Column -->
    <ng-container cdkColumnDef="isoNumericCode">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>isoNumericCode</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{country.isoNumericCode}}
            </p>
        </mat-cell>
    </ng-container>    

    <!-- latestRecordedPopulation Column -->
    <ng-container cdkColumnDef="latestRecordedPopulation">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>LatestRecordedPopulation</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{country.latestRecordedPopulation}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- continent Column -->
    <ng-container cdkColumnDef="continent">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>continent</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{country.continent}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- region Column -->
    <ng-container cdkColumnDef="region">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>region</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{country.region}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- subregion Column -->
    <ng-container cdkColumnDef="subregion">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>subregion</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{country.subregion}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- lastEditedBy Column -->
    <ng-container cdkColumnDef="lastEditedBy">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>LastEditedBy</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{country.lastEditedBy.fullName}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- validFrom Column -->
    <ng-container cdkColumnDef="validFrom">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>ValidFrom</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{country.validFrom | date}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- validTo Column -->
    <ng-container cdkColumnDef="validTo">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>ValidTo</mat-header-cell>
        <mat-cell *cdkCellDef="let country" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{country.validTo | date}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let country">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(country.id)" aria-label="Toggle star">
                    <mat-icon *ngIf="user.starred.includes(country.id)">star</mat-icon>
                    <mat-icon *ngIf="!user.starred.includes(country.id)">star_outline</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteCountry(country)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let country; columns: displayedColumns;"
             class="country"
             (click)="editCountry(country)"
             [ngClass]="{'mat-light-blue-50-bg':checkboxes[country.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


