<div [formGroup]="stockItemShippingForm">
  <!-- <div class="py-16" fxLayout="row">
    <mat-form-field fxFlex>
      <input matInput name="Width" formControlName="width" placeholder="Width">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput name="Height" formControlName="height" placeholder="Height">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput name="Depth" formControlName="depth" placeholder="Depth">
    </mat-form-field>
  </div> -->  

  <mat-form-field class="w-100-p">
    <input matInput name="typicalWeightPerUnit" formControlName="typicalWeightPerUnit" placeholder="Typical Weight Per Unit">
  </mat-form-field>

  <!-- <mat-form-field class="w-100-p">
    <input matInput name="extraShippingFee" formControlName="extraShippingFee" placeholder="Extra Shipping Fee" type="number">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field> -->
</div>
