<div id="stockItem" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="['/apps/e-commerce/warehouse/stock-items']">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <!-- <img *ngIf="stockItem.images[0]" [src]="stockItem.images[0].url">
          <img *ngIf="!stockItem.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'"> -->
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{stockItem.stockItemName}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Stock Item
          </div>
          <div class="subtitle secondary-text">
            <span>Stock Item Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" [disabled]="stockItemForm.invalid" *ngIf="pageType ==='new'"
        (click)="addStockItem()">
        <span>ADD</span>
      </button>

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" [disabled]="stockItemForm.invalid || stockItemForm.pristine"
        *ngIf="pageType ==='edit'" (click)="saveStockItem()">
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="stockItemForm" [formGroup]="stockItemForm" class="product w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>

            <mat-tab label="Basic">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <px-stockitem-basic [group]="stockItemForm" [stockItem]="stockItem" [suppliers]="suppliers" [pageType]="pageType" [colors]="colors"
                  [packageTypes]="packageTypes" [stockGroups]="stockGroups"></px-stockitem-basic>
              </div>
            </mat-tab>

            <mat-tab label="Stock Image">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <px-stock-item-image [group]="stockItemForm" [stockItem]="stockItem" [pageType]="pageType"></px-stock-item-image>
              </div>
            </mat-tab>

            <mat-tab label="Pricing">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <px-stockitem-pricing [group]="stockItemForm" [stockItem]="stockItem"></px-stockitem-pricing>
              </div>
            </mat-tab>

            <mat-tab label="Stock Holding">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <px-stock-item-holding [group]="stockItemForm" [stockItem]="stockItem"></px-stock-item-holding>
              </div>
            </mat-tab>

            <mat-tab label="Packaging">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <px-stock-item-packaging [group]="stockItemForm" [stockItem]="stockItem" [packageTypes]="packageTypes"></px-stock-item-packaging>
              </div>
            </mat-tab>

            <mat-tab label="Shipping">
              <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                <px-stockitem-shipping [group]="stockItemForm" [stockItem]="stockItem"></px-stockitem-shipping>
              </div>
            </mat-tab>

          </mat-tab-group>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
