<div class="supplier-bank-info-form" [formGroup]="supplierBankInfoForm">
  <p>
    <mat-form-field class="w-100-p">
      <input matInput name="bankAccountName" formControlName="bankAccountName" placeholder="Bank Account Name">
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <input matInput name="bankAccountBranch" formControlName="bankAccountBranch" placeholder="Bank Account Branch">
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <input matInput name="bankAccountCode" formControlName="bankAccountCode" placeholder="Bank Account Code">
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <input matInput name="bankAccountNumber" formControlName="bankAccountNumber" placeholder="Bank Account Number">
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <input matInput name="bankInternationalCode" formControlName="bankInternationalCode" placeholder="Bank International Code">
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <input matInput name="paymentDays" formControlName="paymentDays" placeholder="Payment Days" required>
    </mat-form-field>
  </p>
</div>