<div id="customers" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Customer List</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button [routerLink]="'/apps/e-commerce/sales/customers/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW SUPPLIER</span>
      </button>

    </div>
    <!-- / HEADER -->

    <px-customer-selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedCustomers" [@slideInTop]></px-customer-selected-bar>

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Checkbox Column -->
        <ng-container cdkColumnDef="checkbox">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <mat-checkbox [disableRipple]="true" [(ngModel)]="checkboxes[customer._id]" (ngModelChange)="onSelectedChange(customer._id)"
              (click)="$event.stopPropagation()">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Person Column -->
        <ng-container cdkColumnDef="person">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Person</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.person}}</p>
          </mat-cell>
        </ng-container>

        <!-- customerCategory Column -->
        <ng-container cdkColumnDef="customerCategory">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>CustomerCategory</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.customerCategory?.customerCategory}}</p>
          </mat-cell>
        </ng-container>

        <!-- buyingGroup Column -->
        <ng-container cdkColumnDef="buyingGroup">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>BuyingGroup</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.buyingGroup?.buyingGroup}}</p>
          </mat-cell>
        </ng-container>

        <!-- billToCustomer Column -->
        <ng-container cdkColumnDef="billToCustomer">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>BillToCustomer</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.billToCustomer?.billToCustomer}}</p>
          </mat-cell>
        </ng-container>

        <!-- primaryContactPersonID Column -->
        <ng-container cdkColumnDef="primaryContactPerson">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Primary Contact</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.primaryContactPerson?.fullName}}</p>
          </mat-cell>
        </ng-container>

        <!-- alternateContactPersonID Column -->
        <ng-container cdkColumnDef="alternateContactPerson">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Alternate Contact</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.alternateContactPerson?.fullName}}</p>
          </mat-cell>
        </ng-container>

        <!-- deliveryMethodID Column -->
        <ng-container cdkColumnDef="deliveryMethod">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Delivery Method</mat-header-cell>
          <mat-cell *cdkCellDef="let customer">
            <p class="text-truncate">{{customer.deliveryMethod?.deliveryMethodName}}</p>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let customer; columns: displayedColumns;" class="product" [ngClass]="{'mat-light-blue-50-bg':checkboxes[customer._id]}"
          matRipple [routerLink]="'/apps/e-commerce/salse/customers/'+customer._id" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
