<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Stock Item List</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button [routerLink]="'/apps/e-commerce/warehouse/stock-items/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW STOCK ITEM</span>
            </button>

        </div>
        <!-- / HEADER -->

        <px-stockitem-selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedStockItems" [@slideInTop]></px-stockitem-selected-bar>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <ngx-datatable class="material" [rows]="rows" [columns]="displayedColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                (page)='setPage($event)' [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
            </ngx-datatable>
            <ng-template #editTmpl let-row="row" let-value="value">
                <!-- <img width="150" src="{{row.images[0]}}" /> -->
            </ng-template>
            <!-- <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <ng-container cdkColumnDef="checkbox">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let stockItem">
            <mat-checkbox [disableRipple]="true" [(ngModel)]="checkboxes[stockItem._id]" (ngModelChange)="onSelectedChange(stockItem._id)"
              (click)="$event.stopPropagation()">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="stockItemName">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *cdkCellDef="let stockItem">
            <p class="text-truncate">{{stockItem.stockItemName}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="unitPrice">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Unit Price</mat-header-cell>
          <mat-cell *cdkCellDef="let stockItem" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{stockItem.unitPrice | currency:'USD':'symbol'}}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="recommendedRetailPrice">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Recommended Retail Price</mat-header-cell>
          <mat-cell *cdkCellDef="let stockItem" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{stockItem.recommendedRetailPrice | currency:'USD':'symbol'}}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="typicalWeightPerUnit">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Typical Weight Per Unit</mat-header-cell>
          <mat-cell *cdkCellDef="let stockItem" fxHide fxShow.gt-sm>

            <span class="quantity-indicator text-truncate" [ngClass]="{'mat-red-500-bg':stockItem.typicalWeightPerUnit <= 5, 'mat-amber-500-bg':stockItem.typicalWeightPerUnit > 5 && stockItem.typicalWeightPerUnit <= 25,'mat-green-600-bg':stockItem.typicalWeightPerUnit > 25}">
            </span>
            <span>
              {{stockItem.typicalWeightPerUnit}}
            </span>

          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let stockItem; columns: displayedColumns;" class="product" [ngClass]="{'mat-light-blue-50-bg':checkboxes[stockItem._id]}"
          matRipple [routerLink]="'/apps/e-commerce/warehouse/stock-items/'+stockItem._id" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator> -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>