.image-viewer {
    padding: 20px 0;
}

.image-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px;
}

.image-viewer-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
}

.image-viewer-title-spacer {
    flex: 1 1 auto;
}

.image-viewer-body {
    padding: 30px;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ctrl-button {
    margin-left: 10px;
}

.stock-image-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;
    box-shadow: none;

    .mat-column-checkbox {
        flex: 0 1 48px;

        .mat-checkbox-ripple {
            display: none !important; //fix for broken rendering
       
        }
    }

    .mat-header-row {
        min-height: 64px;
    }

    .stock-item {
        position: relative;
        cursor: pointer;

        // height: 84px;
   
    }

    .mat-cell {
        min-width: 0;
        display: flex;
        align-items: center;
        overflow: initial; //custom added
   
    }

    .mat-column-id {
        flex: 0 1 84px;
    }

    .mat-column-image {
        flex: 0 1 84px;
    }

    .stock-item-image {
        width: auto;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin: 10px 0px;
    }

    .mat-column-buttons {
        flex: 0 1 80px;
    }

    .mat-cell:nth-child(1),
    .mat-header-cell:nth-child(1) {
        flex: 0 0 7%;
    }

    // .mat-cell:nth-child(4),
    // .mat-header-cell:nth-child(4) {
    //     flex: 0 0 10%;
    // }

    // .mat-cell:nth-child(5),
    // .mat-header-cell:nth-child(5) {
    //     flex: 0 0 7%;
    // }

    // .mat-cell:nth-child(6),
    // .mat-header-cell:nth-child(6) {
    //     flex: 0 0 7%;
    // }

    // .mat-cell:nth-child(7),
    // .mat-header-cell:nth-child(7) {
    //     flex: 0 0 7%;
    // }

    // .mat-cell:nth-child(8),
    // .mat-header-cell:nth-child(8) {
    //     flex: 0 0 7%;
    // }

    // .mat-cell:nth-child(9),
    // .mat-header-cell:nth-child(9) {
    //     flex: 0 0 7%;
    // }

    .custom input {
        width: 100px;
    }

    .custom input, button {
        display: inline-block;
        vertical-align: baseline;
    }

    .mat-column-select {
        overflow: initial;
    }
}

// mat-chip {
//     max-width: 300px;
//   }

// #stock-image {
//     .product-image {
//         overflow: hidden;
//         // width: 256px;
//         // height: 256px;
//         border: 3px solid rgba(0, 0, 0, 0.12);

//         img {
//             height: 100%;
//             width: auto;
//             max-width: none;
//             max-height: 512px;
//         }
//     }

//     .upload{
//         margin-left: 25px;
//     }
// }
